html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #F8F7F0;
	font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
	text-transform: uppercase;
	font-size: 32px;
	color: #77627B;
	font-weight: 400;
}

.table, .table-cell {
	width: 100%;
	text-align: center;
}

.table {
	display: table;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

@media (min-width: 600px) {
	h1 {
		font-size: 48px;
	}
}


@media (min-width: 1024px) {
	h1 {
		font-size: 72px;
	}
}