<div id="header">
    <h2 class="green text-center">stian lind petlund</h2>
    <h1 class="text-center">web designs</h1>
    <div class="center-table not-small">
        <p class="float-left margin-32 green spacing-3">{{'MY_DESIGNS' | translate}}</p>
        <p class="float-left margin-32 green spacing-3">{{'WHAT_I_DO' | translate}}</p>
        <p class="float-left margin-32 green spacing-3">{{'CONTACT' | translate}}</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="bg snapsale-bg col-xs-12 col-sm-6 col-md-4 clear-padding">
            <a href="http://www.snapsale.com">
                <div class="project-box" slider>
                    <div class="project-image"></div>
                </div>
            </a>
        </div>
        <div class="bg surfwax-bg col-xs-12 col-sm-6 col-md-4 clear-padding">
            <a href="http://www.surfevoks.no">
                <div class="project-box " slider>
                    <div class="logo-wrapper-center">
                        <img class="logo" src="/img/surfwax-logo.png" alt=""/>
                    </div>
                </div>
            </a>
        </div>
        <div class="white-bg changing-colors col-xs-12 col-sm-6 col-md-4 clear-padding">
            <a href="http://www.patrickwinje.no">
                <div class="project-box" slider>
                    <div class="logo-wrapper-center">
                        <img class="logo" src="/img/pw-low.jpg" alt=""/>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 clear-padding">
            <div class="project-box light-purple-border" slider>
                <div class="">
                    <div class="logo-wrapper-center">
                        <p class="no-margin green">{{'YOUR_PAGE' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="not-small col-xs-12 col-sm-6 col-md-4 clear-padding">
            <div class="project-box green-border" slider>
                <div class="">
                    <div class="logo-wrapper-center">
                        <p class="no-margin">{{'YOUR_PAGE' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="not-small col-xs-12 col-sm-6 col-md-4 clear-padding">
            <div class="project-box light-purple-border" slider>
                <div class="">
                    <div class="logo-wrapper-center">
                        <p class="no-margin green">{{'YOUR_PAGE' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row margin-top-32">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h3 class="green">{{'WHAT_I_DO' | translate}}</h3>
            <p>{{'WHAT_I_DO_TEXT1' | translate}}</p>
            <p>{{'WHAT_I_DO_TEXT2' | translate}}</p>
            <p>{{'WHAT_I_DO_TEXT3' | translate}}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h3 class="green">{{'WHAT_I_DONT_DO' | translate}}</h3>
            <ul>
                <li><p>{{'WHAT_I_DONT_DO_TEXT1' | translate}}</p></li>
                <li><p>{{'WHAT_I_DONT_DO_TEXT2' | translate}}</p></li>
                <li><p>{{'WHAT_I_DONT_DO_TEXT3' | translate}}</p></li>
            </ul>
        </div>
    </div>
    <div class="row margin-top-32">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="green">{{'CONTACT_INFO' | translate}}</h3>
            <p>{{'CONTACT_ME' | translate}}</p>
            <div>
                <div class="circle inline-block margin-t-r-b-16"><p>{{'PHONE' | translate}}</p></div>
                <p class="inline-block">+47 928 17 696</p>
            </div>
            <div>
                <div class="circle inline-block margin-t-r-b-16"><p>{{'EMAIL' | translate}}</p></div>
                <p class="inline-block">stian@stianlindpetlund.no</p>
            </div>
        </div>
    </div>
</div>